#contenedor {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

#contenedor section {
    width: 70%;
}

#contenedor aside {
    width: 30%;
}


.lista-de-opciones{
    columns: 3;
    height: 300px;
}

.contenedor-de-imagen{
    background-image: url('https://www.w3schools.com/w3images/lights.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-color: #302f2f;
    background-position: center;
    padding: 50px;
    color: white;
}

button {
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    padding: 20px;
    font-size: 24px;
}

